extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div
      div.form-item
        label(for='name') Category:
        input(type='text' id="name" placeholder='Skirts, Swimwear, etc.' name='name' value=(undefined===category ? '' : category.name))
      div.form-item  
        label(for='description') Category description:
        textarea(name='description' autocomplete="off" id="description" rows="3")!=`${undefined===category ? '' : category.description}`
    button(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg