extends layout

block content
  h1= title
  // p Welcome to #{title} page!
  if categories_list.length>0
      ol
        each category in categories_list
          li
            a(href=category.url, class="category-link")=category.name
            p!=category.description
  else
    p You do not have any categories yet!

