extends layout

block content
  h1= title
  p Welcome to #{title} page!
  p You have #{category_count} 
    a(href="/inventory/categories") categories
    | .
  p You have #{item_count} 
    a(href="/inventory/items") items
    | .
