extends layout

block content
  h1= title
  p Welcome to #{title} page!
  p You have #{category_count} 
    a(href="/inventory/categories" class="category-link") categories
    | .
  p You have #{item_count} 
    a(href="/inventory/items" class="item-link") items
    | .
